<a href="https://colab.research.google.com/github/leejinwoo1214/test1214/blob/main/%ED%95%9C%EC%96%91%EA%B3%A011214%EC%9D%B4%EC%A7%84%EC%9A%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#2022학년도 1학년 1하기 프로그래밍(파이썬) 수행평가
#한양공업 고등학교 1학년 12반 14번 이진우

In [30]:
#1 변수 사용하기
age = 50000 * 10
print(age)

500000

In [102]:
#2. 문자열을 정수로 변환
age = "2020"
print(int(age) -1)
print(int(age) -2)
print(int(age) -3)

2019
2018
2017

In [51]:
#3
s = "홀짝홀짝홀짝"
print(s[::2])

홀홀홀

In [22]:
#4.
s = "PYTHON"
s_list = list(s)
s_list.reverse()
print(''.join (s_list))

NOHTYP

In [56]:
#5.
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [95]:
#6.
nums = [1,2,3,4,5,6,7,8,9,10]
set(range(1,10,2))

{1, 3, 5, 7, 9}

In [96]:
#7.
data = [2,4,3,1,5,10,9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [100]:
#8.
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름:",name1, "나이:",age1)
print("이름:",name2, "나이:",age2)

이름: 김민수 나이: 10
이름: 이철희 나이: 13